<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Project</title>
    </head>
    <body bgcolor="#F5F5F5" style="margin: 0; padding: 0; background-color: #f5f5f5">
        <table cellpadding="0" cellspacing="0" border="0" width="100%" bgcolor="#F5F5F5" style="background-color: #f5f5f5; padding: 25px 0 50px 0">
            <tr>
                <td align="center" valign="top" style="padding: 0">
                    <table cellpadding="0" cellspacing="0" border="0" width="500">
                        <tr>
                            <td align="left" valign="top" style="padding: 0">
                               
                            </td>
                        </tr>
                        <tr>
                            <td align="left" valign="top" style="padding: 25px 0 0 0">
                                <table
                                    cellpadding="0"
                                    cellspacing="0"
                                    border="0"
                                    width="100%"
                                    bgcolor="#fff"
                                    style="background-color: #fff; padding: 40px 40px 40px 40px; border-radius: 16px"
                                >
                                   
                                    <tr>
                                        <td
                                            align="left"
                                            valign="top"
                                            style="
                                                color: #333131;
                                                font-family: Arial, sans-serif;
                                                font-size: 20px;
                                                line-height: 24px;
                                                font-weight: bold;
                                                padding: 0 0 10px 0;
                                            "
                                        >
                                            Forgot your password?
                                        </td>
                                    </tr>
                                    <tr>
                                   
                                    <tr>
                                        <td
                                            align="left"
                                            valign="top"
                                            style="
                                                color: #8b8b8b;
                                                font-family: Arial, sans-serif;
                                                font-size: 14px;
                                                line-height: 24px;
                                                font-weight: normal;
                                                padding: 0 0 30px 0;
                                            "
                                        >
                                            If you did not initiate this action, please contact us immediately. Otherwise, ignore this message.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left" valign="top">
                                            <a
                                                href="`{{forgetPasswordLink}}`"
                                                style="
                                                    color: #fff;
                                                    background: #100682;
                                                    font-family: Arial, sans-serif;
                                                    font-size: 16px;
                                                    line-height: 16px;
                                                    font-weight: 500;
                                                    padding: 14px 40px 14px 40px;
                                                    border-radius: 8px;
                                                    text-decoration: none;
                                                    display: inline-block;
                                                "
                                            >
                                                Reset password
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                      
                                 
                                    <tr>
                                        <td
                                            align="center"
                                            valign="middle"
                                            style="
                                                padding: 0 0 18px 0;
                                                color: #8b8b8b;
                                                font-family: Arial, sans-serif;
                                                font-size: 12px;
                                                line-height: 24px;
                                                font-weight: normal;
                                            "
                                        >
                                            This is a system generated message, please do not reply to this mail. If you have any questions, feel free
                                            to reach our
                                            <a href="#" target="_blank" style="color: #8b8b8b; text-decoration: none; font-weight: bold"
                                                >Support Channel.</a
                                            >.
                                        </td>
                                    </tr>
                                   
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>
